In [30]:
import pandas as pd

#Generate inline plots
%matplotlib inline

df = pd.read_csv("csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv")
df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/7/20,3/8/20,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20
0,NaN,Thailand,15.0000,101.0000,2,3,5,7,8,8,...,50,50,50,53,59,70,75,82,114,147
1,NaN,Japan,36.0000,138.0000,2,1,2,2,4,4,...,461,502,511,581,639,639,701,773,839,825
2,NaN,Singapore,1.2833,103.8333,0,1,3,3,4,5,...,138,150,150,160,178,178,200,212,226,243
3,NaN,Nepal,28.1667,84.2500,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,NaN,Malaysia,2.5000,112.5000,0,0,0,3,4,4,...,93,99,117,129,149,149,197,238,428,566
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
458,NaN,Somalia,5.1521,46.1996,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
459,NaN,Tanzania,-6.3690,34.8888,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
460,NaN,The Bahamas,24.2500,-76.0000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
461,Virgin Islands,US,18.3358,-64.8963,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
462,Cayman Islands,United Kingdom,19.3133,-81.2546,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,1

In [42]:
confirmedCasesDf = df.copy()
column_list = list(confirmedCasesDf)
column_list = column_list[-1:]
confirmedCasesDf = confirmedCasesDf.drop(['Province/State', 'Lat', 'Long'], axis=1)
confirmedCasesDf["Confirmed Cases"] = confirmedCasesDf[column_list].astype('int32')
confirmedCasesDf

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,3/8/20,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,Confirmed Cases
0,Thailand,2,3,5,7,8,8,14,14,14,...,50,50,53,59,70,75,82,114,147,147
1,Japan,2,1,2,2,4,4,7,7,11,...,502,511,581,639,639,701,773,839,825,825
2,Singapore,0,1,3,3,4,5,7,7,10,...,150,150,160,178,178,200,212,226,243,243
3,Nepal,0,0,0,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,Malaysia,0,0,0,3,4,4,4,7,8,...,99,117,129,149,149,197,238,428,566,566
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
458,Somalia,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
459,Tanzania,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
460,The Bahamas,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
461,US,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,1
462,United Kingdom,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,1,1,1

In [43]:
confirmedCasesDf.drop(confirmedCasesDf.columns.difference(['Country/Region','Confirmed Cases']), 1, inplace=True)
confirmedCasesDf = confirmedCasesDf.sort_values(by=['Confirmed Cases'],ascending=False)
confirmedCasesDf

    Country/Region  Confirmed Cases
154          China            67798
16           Italy            27980
155           Iran            14991
18           Spain             9942
156   Korea, South             8236
..             ...              ...
329             US                0
330             US                0
331             US                0
332             US                0
231             US                0

[463 rows x 2 columns]

In [44]:
gk = confirmedCasesDf.groupby('Country/Region')
gk.head()

                     Country/Region  Confirmed Cases
154                           China            67798
16                            Italy            27980
155                            Iran            14991
18                            Spain             9942
156                    Korea, South             8236
..                              ...              ...
134                        Holy See                1
135                        Mongolia                1
204                   Cote d'Ivoire                1
209                  United Kingdom                1
435  occupied Palestinian territory                0

[181 rows x 2 columns]

In [45]:
a = confirmedCasesDf.loc[df['Country/Region'].isin(['Brazil'])]
a

   Country/Region  Confirmed Cases
35         Brazil              200